<!doctype html>
<html ng-app="App">
<head>
  <title></title>
  <meta charset="utf-8">
  <!-- <link rel="stylesheet" type="text/css" href="css/style.css"> -->
  <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->
  <script src="http://code.jquery.com/jquery-1.11.1.min.js"></script>
</head>
<body>

  <div ng-controller="MainCtrl">
    <p>Hello, I am {{name}} stack</p>

    <ul>
      <li ng-repeat="some in somes">
        {{some.name}}
      </li>
    </ul>

    <input type="text" ng-model="one">
    <input type="submit" ng-click="addSome()" value="Добавить">
  </div>

  


  <script src="js/angular.js"></script>
  <script src="js/angular-resource.js"></script>
  <script src="js/app.js"></script>
  <script src="js/controller.js"></script>
</body>
</html>